.about-section{
    padding: 14.4rem 0;
}

.vision-section{
    padding: 10.6rem 0 10.8rem;
    .vision-image{
        img{
            width: 100%;
            display: block;
        }
    }
    .vision-data{
        h2{
            margin-bottom: 2.6rem;
        }
    }
}
