$body-font: $rubik;

img{
    max-width: 100%;
}

body{
    line-height: 2.5rem;
    font-weight: 300;
    font-family: $body-font;
}

h1, .h1{
    line-height: 5.925rem;
}

h2, .h2{
    line-height: 4.266rem;
}

h4, .h4{
    line-height: 2.5rem;
}

.bg-img{
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
}

.bg-img-color{
    background-color: rgba(#fff, 0.6);
}

