.law-section{
    padding: 6.9rem 0 10.8rem;
    .law-categories{
        a{
            line-height: 2rem;
            font-size: 1.4rem;
        }
    }
    .separator, .law-date{
        line-height: 2rem;
        font-size: 1.4rem;
    }
}
.single-news-content{
    padding: 8.1rem 0 13.5rem;
    .single-news-data{
        margin-bottom: 5.7rem;
        img{
            margin: 5.7rem 0;
        }
    }
}

